.loader {
  z-index: 9999;
  position: fixed;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  display: flex;
  background: #fff;

  &.fade {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s linear, visibility 0.2s linear 0.3s;
  }

  .icon {
    @keyframes rotate1 {
      from {
        transform: rotate(0deg) scale(0.4, 0.4);
      }
      to {
        transform: rotate(360deg) scale(0.4, 0.4);
      }
    }

    @keyframes rotate2 {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(-360deg);
      }
    }

    width: 200px;
    height: 200px;
    position: relative;
    border: 3px solid transparent;
    border-radius: 50%;
    border-top-color: #000;
    animation: rotate1 2s cubic-bezier(0.44, 0.39, 0.32, 1.28) infinite;

    &:after,
    &:before {
      content: "";
      display: block;
      position: absolute;
      border: 3px solid transparent;
      border-radius: 50%;
    }

    &:before {
      animation: rotate2 1s linear infinite;
      top: 20px;
      bottom: 20px;
      left: 20px;
      right: 20px;
      border-top-color: inherit;
      filter: brightness(150%);
    }

    &:after {
      animation: rotate2 2s linear infinite;
      top: 43px;
      bottom: 43px;
      left: 43px;
      right: 43px;
      filter: brightness(180%);
      border-top-color: inherit;
    }
  }
}
