.home {
  background: linear-gradient(to bottom, $gradientColor, $backgroundColor);

  .hero {
    position: relative;
    display: flex;
    min-height: 100vh;

    .box {
      margin: auto;
      padding-bottom: 8rem;
      text-align: center;

      .text {
        color: $fontColor;
        font-size: 60px;

        @media only screen and (max-width: $screen-lg) {
          font-size: 48px;
        }

        @media only screen and (max-width: $screen-md) {
          font-size: 40px;
        }

        @media only screen and (max-width: $screen-sm) {
          font-size: 24px;
        }
      }
    }

    .scroller {
      position: absolute;
      left: 50%;
      bottom: 20px;
      transform: translate(-50%, -50%);

      .mouse {
        cursor: pointer;
        width: 30px;
        height: 50px;
        border: 3px solid $fontColor;
        border-radius: 60px;
        position: relative;

        &::before {
          content: "";
          width: 8px;
          height: 8px;
          position: absolute;
          top: 10px;
          left: 50%;
          transform: translateX(-50%);
          background-color: $fontColor;
          border-radius: 50%;
          opacity: 1;
          animation: wheel 1.25s infinite ;
          -webkit-animation: wheel 1.25s infinite ;
        }
      }

      @keyframes wheel {
        to {
          opacity: 0;
          top: 20px;
        }
      }

      @-webkit-keyframes wheel {
        to {
          opacity: 0;
          top: 20px;
        }
      }
    }
  }
}
