$colorLight: rgb(255, 255, 255);
$colorDark: rgb(17, 17, 17);
$colorLightTransparant: rgba(255, 255, 255, 0.4);
$colorDarkTransparant: rgb(17, 17, 17, 0.4);
$colorBlueLight: rgb(54, 183, 253, 0.2);
$colorBlueDark: rgb(0, 30, 60);

:export {
  colorLight: $colorLight;
  colorDark: $colorDark;
  colorLightTransparant: $colorLightTransparant;
  colorDarkTransparant: $colorDarkTransparant;
  colorBlueLight: $colorBlueLight;
  colorBlueDark: $colorBlueDark;
}
