$backgroundColorTransparant: var(--background-color-transparant);
$backgroundColor: var(--background-color);
$gradientColor: var(--gradient-color);
$fontColor: var(--font-color);
$cardColor: var(--card-color);
$secondaryColor: rgb(102, 102, 102);

$screen-sm: 640px;
$screen-md: 768px;
$screen-lg: 1024px;
$screen-xl: 1224px;
