:root {
  --background-color-transparant: #{$colorLightTransparant};
  --background-color: #{$colorLight};
  --gradient-color: #{$colorBlueLight};
  --font-color: #{$colorDark};
  --card-color: #{$colorLight};

  @media (prefers-color-scheme: dark) {
    --background-color-transparant: #{$colorLightTransparant};
    --background-color: #{$colorDark};
    --gradient-color: #{$colorBlueDark};
    --font-color: #{$colorLight};
    --card-color: #{$colorBlueLight};
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  background: var(--background-color);
  max-width: 100vw;
  overflow-x: hidden;

  a {
    color: inherit;
    text-decoration: none;
  }
}
